/****** General ***********/
@import './-base/base.scss';
@import './-layout/header.scss';
@import './-components/buttons.scss';
@import './-components/icons.scss';
@import './-layout/footer.scss';
@import './-components/titles.scss';
@import './-components/cards.scss';

body {
    margin: 0;
}






    
    




.title {
    display: flex;
    justify-content: center;
    
    
}

.subtitle {
    display: flex;
    justify-content: center;
}



.section-title {
    display: flex;
    justify-content: flex-start;
}
    



      

   