.footer {
    display: flex;
    flex-direction: column;   
    background-color: #353535;
    gap: 10px;
    padding-left: 5px;
    margin-top: 50px;

    
    
    
    
    

    .footer-link {
        
        text-decoration: none;
        
        color: white;
        
        
    }

    .footer-title img {
        width: 150px;
        color: white;
        padding-top: 20px;
        padding-bottom: 15px;
        
        
        
    }
    
    
}
    

