.footer {
    display: flex;
    flex-direction: column;   
    background-color: #353535;
    gap: 10px;
    padding-left: 5px;
    margin-top: 50px;
    padding-bottom: 10px;
    color: white;

    
    
    
    
    

    .footer-link {
        
        text-decoration: none;
        
        color: white;
        
        
    }

    .footer-title {
        
    }

    .footer-title img {
        width: 150px;
        color: white;
        padding-top: 20px;
        padding-bottom: 15px;
        
        
        
        
    }
    
    
}

@media (min-width: 700px) {
    .footer {
        padding-left: 20px;
       display: flex;
       align-items: end;
       flex-direction: row-reverse;
       padding-right: 50px;
       gap: 20px;

       .footer-title img {
        padding-bottom: 0;
        
       }

       
    }

    .footer-order {
        display: flex;
        gap: 25px;
        padding-bottom: 5px;
    }

}
    

