.explorer-btn {
    background-image: linear-gradient(#FF79DA, #9356DC);
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 30px 82px;
    height: 50px;
    font-size: 16px;
    text-decoration: none;
    align-items: center;
    transition: all 450ms;

    &:hover {
        transform: scale(1.05);
    }

}

.fonctionnement {
    margin-bottom: 50px;
    padding-top: 50px;
}

.fonctionnement-card {
    display: flex;
    align-items: center;
    height: 72px;
    gap: 23px;
    margin: 20px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 15px #00000033;
    cursor: pointer;
    font-size: 20px;
    justify-content: center;

    .fonctionnement-card-title {
        font-size: 16px;
    }

    .info {
        margin-left: -95px;

    }

}

.btn-action {
    background-image: linear-gradient(#FF79DA, #9356DC);
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 30px 82px;
    height: 50px;
    font-size: 16px;
    text-decoration: none;
    align-items: center;
    transition: all 450ms;

    &:hover {
        transform: scale(1.05);
    }

}

@media (min-width: 700px) {
    .fonctionnement {
        
        display: flex;
        flex-direction: column;
        padding: 0 230px ;
        
        
    }

    .fonctionnement-desktop {
        flex-direction: row;
        display: flex;
        
        
        
        
        .fonctionnement-card {
            width: 500px;
            margin-right: 50px;
            
            
        }

    }
    .background-explorer {
        
        display: flex;
       justify-content: center;
       
       
        
    }

    .background-grey {
        background-color:#F6F6F6;
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .explorer-btn {
        width: 400px;
       
        
    }

    .section-commander {
        display: flex;
       justify-content: center;
       
    }

    .btn-action {
        width: 400px;
        display: flex;
    }

    .info {
        margin-right: 20px;
    }

}
     
