.info {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    border: 1px solid var(--grey-tint-2, #D9D9D9);
    gap: 5px;
    height: 24px;
    width: 24px;
    justify-content: center;
    background-color: #9356dc;
    color: #D9D9D9;
    
    
}

.fa-solid {
    color: #7e7e7e;
}

.fa-solid :hover {
    color: #9356dc;
}

.section-background img {
    width: 100%;
    height: 275px;

}

.fa-solid.fa-utensils {
    color: white;
}

.fa-solid.fa-handshake-angle {
    color: white;
}