.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    padding: 0 50px;
}

.subtitle {
    display: flex; 
    justify-content: center;
    text-align: center;
    padding: 0 30px;
}

.section-title {
    margin-top: 100px;
    padding-left: 20px;
}

.section-menu-title {
    font-family: "shrikhand", sans-serif;
    padding-left: 15px;

    
    
}

.section-menu-container-title {
    font-weight: lighter;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 20px;
    height: 3px;
    width: 75%;
    border-bottom: #99e2d0 3px solid;
    width: 40px;    
    
}

@media (min-width: 700px) {
    
    .section-title {
        margin-top: 60px;
    }



}




