.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    padding: 0 50px;
}

.subtitle {
    display: flex; 
    justify-content: center;
    text-align: center;
    padding: 0 30px;
}

.section-title {
    margin-top: 100px;
    padding-left: 20px;
}

.section-menu-title {
    font-family: "shrikhand", sans-serif;
    
}

.section-menu-container-title {
    font-weight: lighter;
}

